.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  min-height: 600px;
  width: 100vw;
}

.header {
  background-color: #72070f;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.title_box {
  align-items: center;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.title_1 {
  margin: 0;
  padding: 0;
}

.title_2 {
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.subscribe_section {
  height: 80%;
  padding: 10px;
  position: relative;
  width: 600px;
}

.subscribe_section h1 {
  text-align: center;
}

.input_email {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input_email label {
  font-size: large;
  margin-bottom: 5px;
}

.input_email input {
  border-radius: 4px;
  border: 2px solid #72070f;
  font-size: large;
  padding: 1rem;
}

.input_radio {
  padding-bottom: 10px;
  padding-top: 10px;
}

.keywords_help_button {
  background-color: transparent;
  border: 2px solid #72070f;
  border-radius: 50%;
  color: #72070f;
  cursor: pointer;
  font-size: medium;
  font-weight: 700;
  margin-left: 4px;
}

.input_keywords {
  display: flex;
  margin-top: 5px;
}

.input_keywords input {
  border: 2px solid #72070f;
  border-radius: 4px;
  font-size: medium;
  padding: 1rem;
  text-transform: lowercase;
  width: 100%;
}

.input_keywords button {
  background-color: #72070f;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: xx-large;
  margin-left: 4px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.keyword_item {
  list-style: square;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.keyword_item button {
  background-color: transparent;
  border: none;
  color: #72070f;
  cursor: pointer;
  font-size: small;
}

.list_keywords {
  margin-bottom: 30px;
}

.submit {
  margin-top: 20px;
  text-align: center;
}

.submit button {
  background-color: #72070f;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  display: inline-block;
  font-size: larger;
  font-weight: 700;
  padding: 1rem 3rem;
}

.message_background {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 30;
}

.success_message {
  border-radius: 4px;
  background-color: #fff;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;
}

.success_message p {
  font-size: large;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: center;
}

.success_message button {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #72070f;
  color: #72070f;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  padding: 0.5rem 3rem;
  text-align: justify;
}

.failure_message {
  align-items: center;
  background-color: #72070f;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-between;
  padding: 0rem 1rem 1rem 1rem;
  width: 30%;
}

.failure_message p {
  font-size: large;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: center;
}

.failure_message button {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #72070f;
  color: #72070f;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  padding: 0.5rem 3rem;
  text-align: justify;
}

.footer {
  align-items: center;
  background-color: #444444;
  color: #f1f1f1;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}

@media (max-width: 600px) {
  .title_1 {
    font-size: 1.3rem;
  }

  .title_2 {
    font-size: 1rem;
  }

  .subscribe_section {
    height: 100%;
    padding: 0rem 1rem 2rem 1rem;
    width: 100%;
  }

  .subscribe_section h1 {
    font-size: x-large;
  }

  .success_message {
    width: 90%;
    height: 40%;
  }

  .failure_message {
    width: 90%;
    height: 40%;
  }
}
